<section class="thirteen columns">
  <h1>News</h1>
  <article>
    <p>
      <ul class="news-list">
	<li><it>October 2020: </it>I am reviewing for ICLR 2021.</li>
	<li><it>June 2020: </it>Two of our papers got accepted at the International Conference on Pattern Recognition 2020.</li>
	<li><it>April 2020: </it>I am volunteering for ICLR 2020.</li>
	<li><it>August 2019: </it> I am participating at the Machine Learning Summer School at the Skolkovo Institute of Science and Technology in Moscow.</li>
	<li><it>May 2019: </it>Our paper got accepted at the ICML 2019 Workshop on Security and Privacy of Machine Learning.</li>
      </ul>
    </p>
  </article>
</section>
