<section class="thirteen columns">
  <h1>News</h1>
  <article>
    <p>
      <ul class="news-list">
	<li><it>March 2020: </it>I am spending two weeks as an research intern at the Max Plank Insitute for Intelligent Systems in Tübingen.</li>
	<li><it>January 2020: </it>I am reviewing for the NeurIPS 2019 Reproducibility Challenge.</li>
	<li><it>August 2019: </it> I am participating at the Machine Learning Summer School at the Skolkovo Institute of Science and Technology in Moscow.</li>
	<li><it>June 2019: </it>I am reviewing for IEEE Transactions on Neural Networks and Learning Systems.</li>
	<li><it>May 2019: </it>I am reviewing for NeurIPS 2019.</br>
	<li><it>May 2019: </it>Our paper got accepted at the ICML 2019 Workshop on Security and Privacy of Machine Learning.</li>
      </ul>
    </p>
  </article>
</section>
