<section class="thirteen columns">
  <h1>Publications</h1>
  <article>
    <header>
      <h1>PyMatting: A Python Library for Alpha Matting</h1>
      <span><address>Thomas Germer, Tobias Uelwer, Stefan Conrad, Stefan Harmeling</address><time>2020</time></span>
    </header>
    <p>Journal of Open Source Software</p>
    [<a href="https://joss.theoj.org/papers/10.21105/joss.02481">paper</a>]
    [<a href="https://github.com/pymatting/pymatting">code</a>]
  </article>
  <article>
    <header>
      <h1>Phase Retrieval using Conditional Generative Adversarial Networks</h1>
      <span><address>Tobias Uelwer, Alexander Oberstraß, Stefan Harmeling</address><time>2020</time></span>
    </header>
    <p>2020 25th International Conference on Pattern Recognition (ICPR)</p>
    [<a href="https://arxiv.org/pdf/1912.04981">arxiv</a>]
  </article>
    <article>
    <header>
      <h1>Fast Multi-Level Foreground Extraction</h1>
      <span><address>Thomas Germer, Tobias Uelwer, Stefan Conrad, Stefan Harmeling</address><time>2020</time></span>
    </header>
    <p>2020 25th International Conference on Pattern Recognition (ICPR)</p>
    [<a href="https://arxiv.org/abs/2006.14970">arxiv</a>]
  </article>
  <article>
    <header>
      <h1>On the Vulnerability of Capsule Networks to Adversarial Attacks</h1>
      <span><address>Felix Michels, Tobias Uelwer, Eric Upschulte, Stefan Harmeling</address><time>2019</time></span>
    </header>
    <p>ICML 2019 Workshop on Security and Privacy of Machine Learning</p>
    [<a href="https://arxiv.org/pdf/1906.03612.pdf">arxiv</a>]
  </article>
</section>
