<section class="thirteen columns">
  <h1>Teaching</h1>
  <article>
    <header>
      <h1>Reinforcement Learning</h1>
      <span><address>University of Düsseldorf</address><time>summer '20</time></span>
    </header>
    <p>Teaching Assistant </p>
  </article>
  
  <article>
    <header>
      <h1>Machine Learning</h1>
      <span><address>University of Düsseldorf</address><time>winter '17, winter '18, winter '19, winter '20</time></span>
    </header>
    <p>Teaching Assistant </p>
  </article>
  
  <article>
    <header>
      <h1>Deep Learning</h1>
      <span><address>University of Düsseldorf</address><time>summer '19, summer '20</time></span>
    </header>
    <p>Teaching Assistant </p>
  </article>
  
  <article>
    <header>
      <h1>Causality</h1>
      <span><address>University of Düsseldorf</address><time>summer '18, summer '19</time></span>
    </header>
    <p>Teaching Assistant </p>
  </article>
  
  <article>
    <header>
      <h1>Algorithms and Data Structures</h1>
      <span><address>University of Düsseldorf</address><time>winter '15, winter '18</time></span>
    </header>
    <p>Teaching Assistant </p>
  </article>
  
  <article>
    <header>
      <h1>Database Systems</h1>
      <span><address>University of Düsseldorf</address><time>winter '16, summer '17</time></span>
    </header>
    <p>Teaching Assistant </p>
  </article>
  

  <article>
    <header>
      <h1>C Programming</h1>
      <span><address>University of Düsseldorf</address><time>summer '16</time></span>
    </header>
    <p>Teaching Assistant </p>
  </article>
  
  
  <article>
    <header>
      <h1>Foundations of Theoretical Computer Science</h1>
      <span><address>University of Düsseldorf</address><time>summer '16</time></span>
    </header>
    <p>Teaching Assistant </p>
  </article>
</section>
