<section class="thirteen columns">
  <h1>Teaching</h1>
  <article>
    <header>
      <h1>University of Düsseldorf</h1>
      <span>Teaching Assistant </span>
    </header>
    <adress>Programming</adress><time>2020</time></br>
    <adress>Reinforcement Learning</adress><time>2020</time></br>
    <adress>Deep Learning</adress><time>2019, 2020, 2021</time></br>
    <adress>Machine Learning</adress><time>2017, 2018, 2019, 2020, 2021</time></br>
    <adress>Causality</adress><time> 2018, 2019, 2021</time></br>
    <adress>Algorithms and Data Structures</adress><time>2015, 2018</time></br>
    <adress>Database Systems </adress><time>2016, 2017</time></br>
    <adress>C Programming</adress><time>2016</time></br>
    <adress>Theoretical Foundations of Computer Science</adress><time>2016</time></br>
  </article>
</section>
