@import url(https://fonts.googleapis.com/css?family=Raleway:700,400);

body {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height:1.3rem;
    color: rgb(48, 48, 48);
    border-top: 5px solid #4472a1;
    border-bottom: 5px solid #4472a1;
}

.container {
    margin-top: 50px;
}

.menu-icon {
    height:0.75rem;
    width:0.75rem;
    margin-right:10px;
}

a {
    text-decoration: none;
    /*background-color: rgba(39, 168, 34, 0.06);*/
}

a:visited {
    text-decoration: none;
}

a:hover, a:focus {
    color: #4472a1;
}

p, address {
    margin-bottom: 0;
}

.me {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    margin-bottom: 20px;
}

header > h1, section > h1 {
    color: #4472a1;
}

header > h1 {
    line-height: 100%;
    font-size: 250%;
    margin-bottom: 20px;
}

.container > header p, .container > header address {
    margin-bottom: 20px;
}

.container > header p:last-child {
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}

section > h1 {
    font-size: 140%;
    line-height: 120%;
    text-transform: uppercase;
   
}

article {
    margin-bottom: 20px;
}

article > header > h1 {
    font-size: 112%;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 5px;
    color: inherit;
}

span + span {
    margin-left: 2px;
}

span + span::before {
    content: '@';
    margin-right: 4px;
}

span {
    color: #4472a1;
    font-size: 100%;
}

span a {
    color: inherit;
}

address {
    display: inline;
}

time::before {
    content: '—';
    margin:0px 6px;
}

em {
    font-style: normal;
    font-weight: bold;
    color: rgb(100, 100, 100);
    /*margin-right: 6px;*/
}

@media print {
    @page {
        margin: 15mm;
    }

    body {
        font-size: 14pt;
        line-height: 2rem;
    }

    .container > header {
        font-size: 80%;
        line-height: 160%;
    }

    article > header > span {
        font-size: 80%;
        line-height: 80%;
    }
}

footer p {
    margin-bottom: 10px;
    font-size: 10pt;
}

.news-list    {
 list-style:outside disc;
 margin-left:2rem; 
}
.news-list li {
    padding-left:0.5rem;
    
    margin: 0 0 20px 0;
}

it{
    font-style: italic;
}
